:root {
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2e2f42;
    --SLATE: #434455;
    --CLOUD: #f4f4fd;
    --ocean:#4f42b5;
    --light slate: #8e8f99;
}

* {
    box-sizing: border-box;
}
ul {      
    list-style-type: none;
    padding: 0;
    margin: 0;
  
}
section.contact {
    text-decoration: none;

}

body {
    font-family: "Roboto", sans-serif;
}

section.title {
    background: var(--NAVY-BLUE);
 
}

h1 {
    font-size: 56px;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    text-transform: uppercase; 
    padding-top: 188px;
    color: var(--CLOUD);
    

}
   
.container {
   
    padding: 0 15px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
        
}

/* HEADER STYLING*/
.header .d-flex {
    align-items: center;
}

.header .list {
    gap: 40px;

}

.desktop-contacts {
    margin-left: auto;
    padding-left: 0;
    list-style-type: none;

}

.header-container {
    display:flex;
    align-items: center;
}

.mobile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.mobile-menu-container {
    position: relative;
    height: 100%;
    padding: 40px;
}

.mobile-navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
}

.mobile-menu {
    background-color: white;
    display: none;
    position: relative;
}


.js-close-menu {
    position: relative;

}

.header {
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
        
}

.logo {
    margin-right: 76px;
}

.logo-studio-nav {
    color: var(--navyblue);
}


nav .list {
    gap: 40px;
}

header .web {
    padding-right: 76px;
    display: flex;
   
    
}

.title-banner {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images1/people-office-1.jpg');
    height: 600px;
    text-align: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
  

.button {
    font-size: 16px;
    border-style: none;
    line-height: 24px;
    font-weight: 500;
    color: var(--CLOUD);
    letter-spacing: 0.64px;
    background-color: var(--IRIS);
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    
}

.button:hover {
    background-color: var(--ocean);
    
}

.title button:hover {
    cursor: pointer;
    background-color: var(--ocean);
    
}

.backdrop {
    background-color: rgba(46, 47, 66, 0.40);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.modal {
    background-color: white;
    width: 408px;
    height: 584px;
    border-radius: 4px;
    padding: 24px;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-close-btn,
.js-close-menu {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 30px;
    height: 30px;
    color: var(--ocean);
    margin-left: auto;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    dsiplay: flex;
    align-items: center;
    justify-content: center;
    
}
.modal-close-btn:hover {
    fill: currentColor;
    border: 1px solid currentColor;
}

.service-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 100%;   
    position: relative;

}
.input-label {
    text-align: left;
    margin-bottom: 8px;
}


.service-input {
    padding: 12px 40px;
    border: 1px solid #2e2f42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.service-icon {
    position: absolute;
    top: 55%;
    left: 15px;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.service-input:focus + .service-icon,
.service-input:hover + .service-icon {
    fill: var(--IRIS);

}

.service-input:hover {
    border: 1px solid var(--IRIS);
}
.service-input-textarea {
    border: 1px solid #2e2f42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    
}

.service-agree {
    display: flex;
    align-items: center;
    justify-content: center;
}

.agree-checkbox {
    width: 20px;
    height: 20px;
    position: relative;
    left: 23px;
    opacity: 0;
}

.agree-check-icon {
    fill: none;
    margin-right: 8px;
    border: 2px solid black;
    border-radius: 2px;
    transition: 250ms;
    transition-property: border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.service-agree .agree-checkbox:focus + .agree-check-icon,
.service-agree .agree-checkbox:checked:focus + .agree-check-icon {
    outline: 2px solid #212121;
}

.service-agree .agree-checkbox:checked + .agree-check-icon {
    background-color: var(--IRIS);
    border:color: var(var(--IRIS));
    fill: white;
    outline: none;
    stroke: white;
    stroke-width: 0.2;

}

.agree-text {
    font-size: 12px;
}

.modal-send {
    margin-top: 15px;
    padding: 16px 32px;
    background-color: var(--IRIS);
    color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
}

.modal-send:hover {
    cursor: pointer;
}
.web {
    color: #4d5ae5;
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;   
}

.studio-nav {
    color: var(--NAVY-BLUE);
           
   
}
.social-link { 
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    letter-spacing: 0.32px;
    font-weight: 500;
    display: flex;
    
}    

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
}
.nav-link {
    display: inline-block;
}

.active {
    color: var(--ocean);
}

.active::after {
    content:" ";
    display: block;
    height: 4px;
    width: 100%;
    border-bottom: 2px;
    border-radius: 2px;
    background-color: var(--IRIS);
    position: relative;
    top: 25px; 
      
}


.desktop-contacts {
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--SLATE);
    letter-spacing: 0.32px;
    font-weight: 400;
    padding-left: 0;
    margin-left: auto;
          
}

.mobile-navlist li a {
    text-decoration: none;
    font-size: 24px;
    line-height: 24px;
    color: var(--SLATE);
    letter-spacing: 0.32px;
    font-weight: 500;
    padding-bottom: 12px;       

}

.mobile-navlist li a.active-mobile{
    color: var(--ocean);

}

.mobile-navlist {
    list-style: none;
    display: block;
    padding-left: 30px;
    column-gap: 30px;
}

.active-mobile {
    color: var(--ocean);
}


.contacts-info,
.mobile-phone {
    text-decoration: none;
    color: var(--SLATE);

}
.mobile-phone {
    color: var(--IRIS);
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.32px
    font-weight: 500;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;


}
.mobile-email {
    color: var(--NAVY-BLUE);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-decoration: none;
    margin-bottom: 40px;
    padding-left: 30px;
    margin-top: 40px;
    
}

.mobile-socials-link {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}  


.mobile-nav-socials-icons {
    background-color: var(--IRIS);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mobile-nav-socials-icons {
    fill: white;

}

.list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    
}

.f-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-left: 0;
    flex-wrap: wrap;
   
}

.section {
    padding: 120px 0px;
   
}

.about-icon {
    padding: 24px 0;
    text-align: center;
    background-color: var(--CLOUD); 
}

.techniques h2 {
    color: var(--NAVY-BLUE);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
   

}

.techniques p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    letter-spacing: 0.32px;
  

}
/* WHAT WE DO SECTION */
.what-we-do h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    color: var(--NAVY-BLUE);

}
/* OUR TEAM SECTION*/

.bg-cloud {
    background: var(--CLOUD);
}

.team-socials {
    display: flex;
    justify-content: space-around;
    padding-bottom: 32px;

}
.team-socials-icon {
    background-color: var(--IRIS);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.team-socials-icon svg {
    fill: white;
    
}

.team img{
    display: block;
    width: 100%;
}

.team-caption {
    background-color: #ffffff;
}
 


.team h2 {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;  

}


.team-members h3 {
    color: var(--SLATE);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px; 
    text-align: center;

}

.team-members p {
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;

}
/*END OF OUR TEAM SECITON*/

/* CUSTOMER SECTION */
.customers h2 {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;

}
.customer-icon {
    border: 1px solid #8e8f99;
    padding: 16px 0px;
    border-radius: 4px;

}

.customer-icon:hover,
.customer-icon:focus {
    border-color: var(--IRIS);

}    

.customer-icon:hover svg,
.customer-icon:focus svg {
    fill: var(--IRIS);
}
.customer-icon svg {
    fill: #8e8f99;
}

/*END OF CUSTOMER SECTION*/


/* PORTFOLIO STYLING*/


.button-link {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-bottom: 72px;
    border-radius: 4px;
    border-style: none;    
}

.first-button {
    color: #ffffff;
    font-family: Roboto;
    background: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
            0px 2px 1px 0px rgba(0, 0, 0, 0.08),
            0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border-style: none;
    border-radius: 4px;
    width: 69px;
    height: 48px;    
      
}

.buton-link txt {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    padding: 12px 24px;
    background: var(--CLOUD);
}

.button-row {
    color: var(--IRIS);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px
    border: 1px solid #E7E9FC;
    padding: 12px 24px;
    border-radius: 4px;
    border-style: none;
  


}
.project-f-list {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
    justify-content: center;


}
.pro-list {
    width: 30%;
     
}
.pro-list:hover .project-image-caption {
    opacity: 1;
    transform: translateY(0);
}

.app {
    width: 100%;
   
    

}
.project-caption {
    padding-bottom: 32px;
    background: var(--CLOUD);
    align-items: center;
    margin: 0px;
    padding-top: 32px;
    padding-left: 16px;
    margin-top: 0px;
}

.project-image {
    position: relative;
    overflow: hidden;
}

.project-image-caption {
    position: absolute;
    background-color: rgba(77, 90, 229, 0.7);
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-image-caption-text {
    padding: 40px 32px;
}

/* FOOTER STYLING*/

footer {
    background-color: var(--NAVY-BLUE);
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    
  
    
}
.footer bg-dark  {
    background-color: var(--NAVY-BLUE);

}

.footer-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 72px;
}

.studio-footer {
    font-size: 18px;
    line-height: 21px;
    font-weight: 800px;
    color: var(--CLOUD);
    letter-spacing: 0.54px;
}
.text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--CLOUD);
    letter-spacing: 0.32px;
}
.social-media {
    color:#ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: .32px;
    display: flex;
    align-items: center;
    justify-content: center;
       
}

.socials-icon {
    background-color: var(--IRIS);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.footer-socials-icon {
    display: inline-block;
    justify-content: center;
    align-items: center;
        
}

.footer-socials-icon svg {
    fill: white;

}

.social-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    padding-left: 40px;
}
.text {
    color: var(--CLOUD);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;

}

.footer-sub {
    margin-left: 80px;
}
.footer-socials-icon {
    margin-right: 10px;
}

.footer-subscribe-text {
    margin-top: 0;
    color: white;
          
}

.input-sub {
    border: 2px solid white;
    background: none;
    border-radius: 4px;
    padding: 10px;
    width: 264px;
    background-color: none;
    margin-right: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
    
}

.input-sub::placeholder {
    color: white;
}
.btn-sub {
    display: inline-flex;
    align-items: center;
    color: white;
    padding: 8px 24px;
    gap: 16px;
    background-color: var(--IRIS);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;

}

.sub-icon {
    fill: white;
}
/* END OF FOOTER STYLING*/

/* CSS MEDIA QUERY */

@media (min-width: 428px) {
    .container {
        width: 428px;
    }
}

@media (min-width: 768px) {
    .mobile-nav,
    .js-close-menu {
        display: none;
    }

    .container {
        width: 768px;
    }

    .about-item,
    .team-item {
        flex-basis: calc(100% / 2 - 30px);
    }

    .customer-icon {
        flex-basis: calc(100% / 3 -30px);
    }

    .footer {
        text-align: center;
    }

    .input-sub {
        width: 264px;
        margin-right: 24px;
    }

}

@media (min-width: 1200px) {
    .desktop-contacts {
        display: flex;
        column-gap: 30px;
    }

    .container {
        width: 1200px;

    }
    .about-item,
    .team-item {
        flex-basis: calc(100% / 4 - 30px);
    }

    .customer-icon {
        flex-basis: calc(100% / 6 - 30px);
    }

}

@media (max-width: 767px) {
    .desktop-nav {
        display: none;
    }

    .mobile-menu.is-open {
        transform: translateX(0);
    }
    .js-close-menu {
        position: absolute;
        top: 10px;
        right: 25px;
    }

    .mobile-menu {
        top: 0;
        display: block;
        height: 100vh;
        width: 100%;
        position: fixed;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .what-we-do {
        display: none;
    }

    .about-item h2 {
        font-size: 36px;
        margin-bottom: 8px;
    }

    .about-item p {
        margin-top: 0;
    }

    .about-icon {
        display: none;
    }

    .footer-inner {
        justify-content: center;
    }

    .btn-sub {
        margin-top: 24px;
    }
}

@media (max-width: 427px) {
    .title {
        font-size: 36px;
        letter-spacing: 0.72px;
        line-height: 1.11;
    }

    .about-item h2 {
        text-align: center;
    }

    .input-sub {
        margin-right: 0;
        width: -webkit-fill-available;
    }
}







    
    




